In [11]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [12]:
# setup db connection
engine = create_engine("postgresql://user:password@localhost:5432/home_credit_db")

In [13]:
query_app = """
    select * from application_train
"""

df = pd.read_sql(query_app, engine)
print(df.shape)
df.head()

(307511, 122)

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,351895,0,Cash loans,M,Y,N,0,189000.0,612612.0,29470.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,351896,1,Cash loans,F,Y,Y,0,360000.0,664299.0,48469.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
2,351897,0,Cash loans,F,N,Y,0,157500.0,675000.0,50598.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,351899,0,Cash loans,M,N,Y,0,85500.0,263686.5,26208.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
4,351900,0,Cash loans,F,N,Y,0,225000.0,755190.0,33394.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0

In [14]:
# remove zero importance features
zero_val_feat = [
    "elevators_medi",
    "elevators_mode",
    "flag_cont_mobile",
    "flag_document_10",
    "flag_document_11",
    "flag_document_12",
    "flag_document_13",
    "flag_document_14",
    "flag_document_15",
    "flag_document_17",
    "flag_document_18",
    "flag_document_19",
    "flag_document_2",
    "flag_document_20",
    "flag_document_21",
    "flag_document_4",
    "flag_document_5",
    "flag_document_7",
    "flag_document_9",
    "flag_mobil",
]

df = df.drop(columns=zero_val_feat)
print(f"Removed {len(zero_val_feat)} features. Current column: {df.shape[1]}")

Removed 20 features. Current column: 102

In [15]:
# remove anomali value on days_employed
df["days_employed"].replace(365243, np.nan, inplace=True)
df["days_employed"].describe()

/var/folders/5h/nxjp_ycd5cjf8kcj7z6txnw40000gn/T/ipykernel_21632/2849181192.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["days_employed"].replace(365243, np.nan, inplace=True)

count    252137.000000
mean      -2384.169325
std        2338.360162
min      -17912.000000
25%       -3175.000000
50%       -1648.000000
75%        -767.000000
max           0.000000
Name: days_employed, dtype: float64