In [17]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import normalized_features
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# setup db connection
engine = create_engine("postgresql://user:password@localhost:5432/home_credit_db")

In [4]:
query_app = """
    select * from application_train
"""

df = pd.read_sql(query_app, engine)
print(df.shape)
df.head()

(307511, 122)

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,100176,0,Cash loans,F,N,Y,0,135000.0,1078200.0,31653.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100177,0,Cash loans,M,N,N,1,112500.0,312682.5,33309.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100178,0,Cash loans,F,N,Y,0,119250.0,679500.0,28917.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
4,100180,0,Cash loans,F,N,Y,1,315000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,3.0

In [5]:
# remove zero importance features
zero_val_feat = [
    "elevators_medi",
    "elevators_mode",
    "flag_cont_mobile",
    "flag_document_10",
    "flag_document_11",
    "flag_document_12",
    "flag_document_13",
    "flag_document_14",
    "flag_document_15",
    "flag_document_17",
    "flag_document_18",
    "flag_document_19",
    "flag_document_2",
    "flag_document_20",
    "flag_document_21",
    "flag_document_4",
    "flag_document_5",
    "flag_document_7",
    "flag_document_9",
    "flag_mobil",
]

df = df.drop(columns=zero_val_feat)
print(f"Removed {len(zero_val_feat)} features. Current column: {df.shape[1]}")

Removed 20 features. Current column: 102

In [6]:
# remove anomali value on days_employed
df["days_employed"].replace(365243, np.nan, inplace=True)
df["days_employed"].describe()

/var/folders/5h/nxjp_ycd5cjf8kcj7z6txnw40000gn/T/ipykernel_4274/2849181192.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["days_employed"].replace(365243, np.nan, inplace=True)

count    252137.000000
mean      -2384.169325
std        2338.360162
min      -17912.000000
25%       -3175.000000
50%       -1648.000000
75%        -767.000000
max           0.000000
Name: days_employed, dtype: float64

In [7]:
# categorical features
cat_features = df.select_dtypes(include=np.object_).columns
print(f"Number of categorical features: {len(cat_features)}")
print(cat_features)

Number of categorical features: 16
Index(['name_contract_type', 'code_gender', 'flag_own_car', 'flag_own_realty',
       'name_type_suite', 'name_income_type', 'name_education_type',
       'name_family_status', 'name_housing_type', 'occupation_type',
       'weekday_appr_process_start', 'organization_type', 'fondkapremont_mode',
       'housetype_mode', 'wallsmaterial_mode', 'emergencystate_mode'],
      dtype='object')

In [8]:
# numerical features
num_features = df.select_dtypes(include=np.number).columns
print(f"Number of numerical features: {len(num_features)}")
print(num_features)

Number of numerical features: 86
Index(['sk_id_curr', 'target', 'cnt_children', 'amt_income_total',
       'amt_credit', 'amt_annuity', 'amt_goods_price',
       'region_population_relative', 'days_birth', 'days_employed',
       'days_registration', 'days_id_publish', 'own_car_age', 'flag_emp_phone',
       'flag_work_phone', 'flag_phone', 'flag_email', 'cnt_fam_members',
       'region_rating_client', 'region_rating_client_w_city',
       'hour_appr_process_start', 'reg_region_not_live_region',
       'reg_region_not_work_region', 'live_region_not_work_region',
       'reg_city_not_live_city', 'reg_city_not_work_city',
       'live_city_not_work_city', 'ext_source_1', 'ext_source_2',
       'ext_source_3', 'apartments_avg', 'basementarea_avg',
       'years_beginexpluatation_avg', 'years_build_avg', 'commonarea_avg',
       'elevators_avg', 'entrances_avg', 'floorsmax_avg', 'floorsmin_avg',
       'landarea_avg', 'livingapartments_avg', 'livingarea_avg',
       'nonlivingapartments_avg', 'nonlivingarea_avg', 'apartments_mode',
       'basementarea_mode', 'years_beginexpluatation_mode', 'years_build_mode',
       'commonarea_mode', 'entrances_mode', 'floorsmax_mode', 'floorsmin_mode',
       'landarea_mode', 'livingapartments_mode', 'livingarea_mode',
       'nonlivingapartments_mode', 'nonlivingarea_mode', 'apartments_medi',
       'basementarea_medi', 'years_beginexpluatation_medi', 'years_build_medi',
       'commonarea_medi', 'entrances_medi', 'floorsmax_medi', 'floorsmin_medi',
       'landarea_medi', 'livingapartments_medi', 'livingarea_medi',
       'nonlivingapartments_medi', 'nonlivingarea_medi', 'totalarea_mode',
       'obs_30_cnt_social_circle', 'def_30_cnt_social_circle',
       'obs_60_cnt_social_circle', 'def_60_cnt_social_circle',
       'days_last_phone_change', 'flag_document_3', 'flag_document_6',
       'flag_document_8', 'flag_document_16', 'amt_req_credit_bureau_hour',
       'amt_req_credit_bureau_day', 'amt_req_credit_bureau_week',
       'amt_req_credit_bureau_mon', 'amt_req_credit_bureau_qrt',
       'amt_req_credit_bureau_year'],
      dtype='object')

In [9]:
# remove NA gender rows
print("Before")
print(df["code_gender"].value_counts())
df = df[df["code_gender"] != "XNA"]
print("\nAfter")
print(df["code_gender"].value_counts())

Before
code_gender
F      202448
M      105059
XNA         4
Name: count, dtype: int64

After
code_gender
F    202448
M    105059
Name: count, dtype: int64

## import proceed data to db

In [22]:
table_name = "application_train_clean"

print("Starting upload proceed dataset..")
df.to_sql(table_name, engine, if_exists="replace", index=False, chunksize=10000)

print("Finish.")

Starting upload proceed dataset..
Finish.